* {
  margin: 0;
  padding: 0;
}

body {
 height: 5000px;
}

#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----firstpage start------*/
.fixed-section .firstpage{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: mintcream;
  z-index: 2;
} 

.firstpage .heading {
  font-size: 2em;
  position: absolute;
  top: 45%;
  left: 42%;
}

.background,
.midground,
.foreground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-block {
  position: absolute;
  bottom: -10vh;
  left: 0;
  background: greenyellow;
  width: 100vw;
  height: 40vh;
  transform: skewY(-2deg);
}

.mg-block {
  position: absolute;
  bottom: -55vh;
  left: -20vw;
  background: lightblue;
  width: 100vw;
  height: 50vh;
  transform: skewY(40deg);
}

.fg-block{
  position: absolute;
  bottom: -45vh;
  left: 0;
  background: rgb(7, 104, 136);
  width: 100vw;
  height: 60vh;
  transform: skewY(-20deg);
}
/*-----firstpage end------*/

/*-----secondpage start------*/

.fixed-section .secondpage{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: mintcream;
  z-index: 2;
} 

.secondpage .heading {
  font-size: 2em;
  position: absolute;
  top: 45%;
  left: 33%;
}

.secondpage h1 span {
  display: inline-block;
}

.image {
  position: absolute;
  width: 40vw;
  height: 40vw;
  bottom: 17vw;
  transform: scale(0);
}